html
	head
		include partialViews/head.pug	
		script(src='https://code.jquery.com/jquery-1.10.1.min.js')
		script(src='../static/markdown_editor/ghostdown.js')
		link(href='../static/markdown_editor/ghostdown.css', media='all', rel='stylesheet')
	body
		include partialViews/nav.pug

		section.container
			h4 Admin
			form(name='createPost' method='POST' action=action)
				.input-field.s12
					label(for='title') Title
					input(id='pTitle' type='text' name='title' value=title)

				.input-field.s12
					label(for='post') Post
					.features
						section.editor
							.outer
								.editorwrap
									section.entry-markdown
										section.entry-markdown-content
											textarea(id='entry-markdown' type='text'  name='body')
												if body === undefined
													| > ###Type your *markdown* **here**
												else 
													| #{body}
									section.entry-preview.active
										header.floatingheader
											| Preview 
											span.entry-word-count 0 words
										section.entry-preview-content
											.rendered-markdown
							
				button.btn.waves-effect.waves-light(type='submit' name='action') Submit
					i.material-icons.right send

		section.container
			h4 Posts
			each post in posts
				p.flow-text <a href="/#{post.title}"> #{post.title}</a>   
					a.material-icons(href='/admin/'+post.title+'/delete') delete  
					a.material-icons(href='/admin/'+post.title+'/edit?title='+post.title) edit


		



		



		include partialViews/footer.pug